<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Declarar que es una app de TV -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <!-- No requiere pantalla táctil -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/banner_tv"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHealthTV"
        tools:targetApi="31"
        tools:overrideLibrary="androidx.navigationevent">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="SmartHealth TV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- Categoría LEANBACK_LAUNCHER: aparece en launcher TV -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>